* {
    font-family: sans-serif;
}

h1 {
    padding-left: 32px;
}

.todo-list__container {
    padding-left: 32px;
    display: inline-block;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list__item {
    height: 20px;
    border: 1px solid #eee;
    border-top: 0;
    padding: 6px;
}

.todo-list__item:nth-child(1) {
    border-top: 1px solid #eee;
}

.todo-list__placeholder {
    height: 20px;
    padding: 6px;
    background-color: yellow;
    color: red;
}

.todo-list__new-input {
    width: 100%;
}

.todo-list__item__handle {
    cursor: -webkit-grab;
    cursor:    -moz-grab;
    cursor:         grab;

    content: '....';
    width: 10px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    line-height: 5px;
    padding: 3px 4px;
    cursor: move;
    vertical-align: bottom;
    margin-top: -.7em;
    margin-right: .3em;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px black;

}

.todo-list__item__handle::after {
    content: '.. .. .. ..';
}

.todo-list__item__handle:active {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}


input:read-only {
    text-decoration: line-through;
    color: gray;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;  
}
